<%= render 'shared/banner' %>
<div class="container-fluid">

  <div class="home-categories">
    <%= link_to projekte_path, class:"home-category-projekte" do %>
          <h3>Projekte</h3>
    <% end %>
      <%= link_to stiftung_path, class:"home-category-stiftung" do %>
          <h3>Stiftung</h3>
    <% end %>
      <%= link_to spenden_path, class:"home-category-spenden" do %>
          <h3>Spenden</h3>
    <% end %>
  </div>

  <div class="eroeffnungstext">
    <h2>2048: Großaquarien als Fischmuseen?</h2>
    <p>
      In 28 Jahren gibt es keine Fische mehr in den Ozeanen, wenn die Überfischung und Verschmutzung der Meere weiter fortschreiten. So wurde es bereits 2006 von Boris Worm et al. prognostiziert und in Science publiziert.
      2009 waren die Fischbestände weltweit bereits zu 80% überfischt. Fünf Jahre später – 2014 – waren es schon 90% aller Bestände.
      Auch die Verschmutzung schreitet voran und führt zu immer mehr sogenannten sauerstoff-armen oder -losen „Todeszonen“, also Bereichen im Wasser ohne ausreichende Mengen an Sauerstoff, in denen sämtliche Lebewesen, die auf dieses Element aus atmungstechnischen Gründen angewiesen sind, sofort sterben, wenn sie in diese Wasserzonen gelangen. Der Anstieg der Verschmutzung beruht im Wesentlichen auf stark wachsenden Küstenstädten, die ihren Müll in die Meere entsorgen. Im Mittelmeer-Raum gibt es inzwischen über 20 Städte mit mehr als einer Million Einwohnern, die so verfahren.
      Aktuell fungieren die meisten Großaquarien als komplexe Erlebniszentren (Aquarien der 5. Generation), die sich neben der Präsentation auch der Bildung, dem Artenschutz und bis zu einem gewissen Grad der Forschung widmen.
      In weniger als drei Jahrzehnten werden sie allerdings zu Fischmuseen konvertieren, und ihnen wird eine ganz neue Rolle zuteil: Die Erhaltung der Letzten ihrer Art, denn in ihren natürlichen, ursprünglichen Lebensräumen wird es sie nicht mehr geben.

      Um dieser Entwicklung zuvorzukommen bzw. entgegenzuwirken, hat sich die Stiftung Aquarium Research Foundation e.V. zum Ziel gesetzt, die Wissenschaft und Forschung in öffentlichen und privaten Aquarien zu fördern, und den Weg zu ebnen für die Schaffung von Aquarien der 6. Generation, bei denen die Forschung grundlegender Bestandteil der Institution ist (Satzung §2, Abs. 1 – 3).
      Denn die Großaquarien bieten mit riesigen Wassermengen und konstanten Wasserparametern optimale Ausgangsbedingungen, bei Unabhängigkeit von teuren Forschungsschiffen und entsprechenden Wetterbedingungen.
      Die Gewinnung von neuen Erkenntnissen in diesem Umfeld wird maßgeblich zum besseren Verständnis der aquatischen Ökosysteme und damit zum Schutz bzw. Erhalt dieser beitragen. An die Gewinnung der Erkenntnisse ist aber auch die Vermittlung derselben geknüpft, um letztendlich die gewonnenen Informationen in Form erkenntnisbasierter Maßnahmen umzusetzen.
    </p>
  </div>

  <div class="wir-ueber-uns">
    <h2>Wir über uns</h2>
    <p>
      Möchten wir wirklich mit der Perspektive von Fischmuseen leben bzw. in dem Wissen, dass ein enormer Artenverlust in allen aquatischen Ökosystemen bevorsteht, ohne etwas dagegen zu tun?
      Die Antwort der Gründungsmitglieder unserer Stiftung – der Aquarium Research Foundation e.V. – laut ganz eindeutig: NEIN!
      Stattdessen möchten wir Forschung und Wissenschaft auf einem Gebiet fördern, das noch zu wenig im Fokus forschungsspezifischer Aktivitäten steht: Forschung in Aquarien.
      Wir möchten dazu beitragen eine weltweite Entwicklung voranzubringen, die das enorme Potenzial von Aquarien als Ort der Forschung nutzt, und zur Etablierung der neuen wissenschaftlichen Disziplin Aquariologie (Aquarium Science) führt, sowie schließlich im Idealfall ein Fortschreiten des Biodiversitätsverlustes in Meeren, Flüssen und Seen verhindert.

      Der Schutz der aquatischen Lebensräume ist letztendlich auch Klimaschutz, und geht uns alle an, denn wir werden auch alle davon betroffen sein.

      Aus diesen Beweggründen haben wir am 01.06.2019 in formeller Sitzung die Schaffung einer Stiftung beschlossen und diese in Form eines eingetragenen, gemeinnützigen Vereins namens „Aquarium Research Foundation“ gegründet.
      Der Zweck und die Aufgaben sowie weitere Formalien des Vereins bzw. der Stiftung wurden mittels der entsprechenden Satzung durch die Gründungsmitglieder manifestiert.
    </p>
  </div>

  <div class="persoenliches-motiv">
    <h2>Mein persönliches Motiv Forschung in Aquarien zu fördern</h2>
    <h2> – ein Bekenntnis um etwas zu bewirken – </h2>
    <p>
      <b>Vorsitzender – Dr. Emanuel Hensel, Dipl.-Biol. – Meeresbiologe, Aquarium Consultant:</b>
      <br>
      Die wohl prägendsten Eindrücke bezüglich der Schönheit der Unterwasserwelt haben bereits die ersten Besuche im Berliner Zoo-Aquarium als Kind hinterlassen. Auch die Abenteuer des Meeresbiologen Jaques-Yves Cousteau verstärkten den Wunsch die Geheimnisse dieser verborgenen - weil schwer zugänglichen – Welt zu ergründen. Und so wurde aus einer Passion eine Profession, die auch ihren Ausdruck findet in der Gründung einer Stiftung, die sich der Erforschung der Unterwasserwelt aber in einem wohl definierten Raum (dem Aquarium) widmet.
      Und den offenen Fragen im Aquarium auf den Grund zu gehen, ist nicht nur (logistisch) einfacher, sondern auch effizienter.
      Außerdem bin ich der Meinung, dass diejenigen, die spezifische Kenntnisse besitzen oder in der Lage sind sie zu erlangen, auch die Verantwortung haben, diese an andere Mitmenschen zum Nutzen aller weiterzugeben.
      <br>
      <br>
      <b>Vorsitzender – Carsten Wolke, Jurist:</b>
      <br>
      <br>
      <b>Vorsitzende, Schätzmeisterin, Nadya Wolke, Juristin:</b>
      <br>
      <br>
      <%= image_tag "bild_vorstand.jpg" %>
      <p>Foto von Links: Carsten Wolke, Nadya Wolke, Dr. Emanuel Hensel</p>
      <br>
      <br>
      <b>Vorsitzende – Wibke Kleiner, Chemisch-biologisch technische Assistentin:</b>
      <br>
      Auch ich bin schon immer fasziniert von den vielfältigen Tieren und Pflanzen der Meere von denen noch so vieles unbekannt ist.
      Die Stiftung wird dazu beitragen  einige Geheimnisse der Tiefen zu lüften und wird uns Erkenntnisse zum Schutz der vielen Geschöpfe der Wasserwelt liefern.
      Denn nur wer den größten Lebensraum der Erde kennt, kann ihn auch effektiv schützen. Ich freue mich ein Teil davon zu sein.
      <br>
      <br>
      <%= image_tag "bild_vorstand_wibke_kleiner.jpeg" %>
      <p>Foto: Wibke Kleiner</p>
    </p>
  </div>

</div>
