<%= render 'shared/banner-projekte' %>
<div class="container-fluid">
  <div class="projekte">

    <div class="project-card">
      <div class="project-card-image">
          <%= image_tag "hydrophone-knurrhaehne.jpg" %>
      </div>
      <div class="project-card-information">
        <div class="project-card-title">
          <h3>Hydrophonen & Knurrhähnen</h3>
        </div>
        <div class="project-card-description">
          <p>Dieses Projekt zeigte uns die unglaublich Töne der Hydrophonen und Knurrhähnen.</p>
            <p><strong>Zeitraum:</strong> 3 Monate</p>
            <p><strong>Ort:</strong> Helgoland</p>
            <p><strong>Forscher:</strong> Dr. Emanuel Hensel</p>
            <%= link_to "Mehr Infos", stiftung_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="project-card-information">
        <div class="project-card-title">
          <h3>Hydrophonen & Knurrhähnen</h3>
        </div>
        <div class="project-card-description">
          <p>Dieses Projekt zeigte uns die unglaublich Töne der Hydrophonen und Knurrhähnen.</p>
            <p><strong>Zeitraum:</strong> 3 Monate</p>
            <p><strong>Ort:</strong> Helgoland</p>
            <p><strong>Forscher:</strong> Dr. Emanuel Hensel</p>
            <%= link_to "Mehr Infos", stiftung_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="project-card-image">
          <%= image_tag "hydrophone-knurrhaehne.jpg" %>
      </div>
    </div>


    </div>
  </div>

</div>
