<%= render 'shared/banner-projekte' %>
<div class="container-fluid">
  <div class="projekte">

    <div class="project-card">
      <div class="project-card-image" id="hydrophone-knurrhaehne" >
      </div>
      <div class="project-card-information">
        <div class="project-card-title">
          <h3>Hydrophone & Knurrhähne</h3>
        </div>
        <div class="project-card-description">
          <p>Dieses Projekt zeigte uns die unglaublich Töne der Hydrophone und Knurrhähnen.</p>
            <p><strong>Zeitraum:</strong> 3 Monate</p>
            <p><strong>Ort:</strong> Helgoland</p>
            <p><strong>Forscher:</strong> Dr. Emanuel Hensel</p>
            <%= link_to "Mehr Infos", stiftung_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image" id="hydrophone-knurrhaehne" >
      </div>
      <div class="project-card-information">
        <div class="project-card-title">
          <h3>Feuerfische</h3>
        </div>
        <div class="project-card-description">
          <p>-</p>
            <p><strong>Zeitraum:</strong> 6 Wochen</p>
            <p><strong>Ort:</strong> Kiel</p>
            <p><strong>Forscher:</strong> Dr. Emanuel Hensel</p>
            <%= link_to "Mehr Infos", stiftung_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image" id="hydrophone-knurrhaehne" >
      </div>
      <div class="project-card-information">
        <div class="project-card-title">
          <h3>Forellen</h3>
        </div>
        <div class="project-card-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <p><strong>Zeitraum:</strong> 1 Monat</p>
          <p><strong>Ort:</strong> Tönning</p>
          <p><strong>Forscher:</strong> Dr. Emanuel Hensel</p>
          <%= link_to "Mehr Infos", stiftung_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image" id="hydrophone-knurrhaehne" >
      </div>
      <div class="project-card-information">
        <div class="project-card-title">
          <h3>Stachelköpfe</h3>
        </div>
        <div class="project-card-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <p><strong>Zeitraum:</strong> 10 Monate</p>
            <p><strong>Ort:</strong> Usedom</p>
            <p><strong>Forscher:</strong> Dr. Emanuel Hensel</p>
            <%= link_to "Mehr Infos", stiftung_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
